body {
  background-image: url("../images/pngtree-pink-simple-literature-and-art-romantic-cherry-blossom-flying-dark-print-image_88425.jpg");
  background-attachment: fixed;
  background-size: 100%;
  width: 100%;
  height: 100%;
  background-position: 100%;
  background-clip: inherit;
}
